.noweet-main {
  display: flex;
}
.noweet-main__owner {
  width: 80%;
  margin-left: 20%;
  background-color: rgb(253, 229, 0);
  border-radius: 25px 0px 25px 25px;
  margin-bottom: 15px;
  min-height: 70px;
  padding: 10px;
  box-sizing: border-box;
}

.noweet-main__notowner {
  width: 80%;
  background-color: white;
  border-radius: 0px 25px 25px 25px;
  margin-bottom: 15px;
  min-height: 70px;
  padding: 10px;
  box-sizing: border-box;
}

.noweet-main__form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.noweet-main__edit {
  width: 250%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  margin-left: 20px;
  font-size: 16px;
}

.noweet-main__edit:focus {
  outline: none;
}

.noweet-main__edit__btn__header {
  margin-top: -10px;
  margin-right: -10px;
}

.noweet-main__edit__btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 70px;
  height: 35px;
  border-radius: 25px;
  margin-left: 5px;
}

.noweet-main__edit__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.noweet-main__edit__btn:last-child {
  background-color: tomato;
}

.noweet-main__edit__btn:last-child:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.noweet-info {
  display: flex;
}

.noweet-info__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noweet-inner {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.noweet-inner__inner {
  display: flex;
  align-items: center;
}

.noweet-inner__inner img {
  border-radius: 17px;
}

.noweet-inner__inner h4 {
  margin: 30px;
}

.noweet-inner__button-btn button {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 70px;
  height: 35px;
  border-radius: 25px;
  margin-left: 5px;
}

.noweet-inner__button-btn button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
